################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/High school management/SchoolRecord.mdf
/High school management/bin/Debug/SchoolRecord.mdf
/High school management/bin/Debug/School ahh Record.mdf
/High school management/School ahh Record.mdf
/High school management/Database1.mdf
/High school management/bin/Debug/Database1.mdf
/High school management/bin/Debug/Database1_log.ldf
/High school management/Database1_log.ldf
